HA-NodeRed flows.json
[{"id":"39d77b10fe7b70bb","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"48eae5f5a591f16e","type":"inject","z":"39d77b10fe7b70bb","name":"Payload Test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{'Band': '1669275167'}","payloadType":"str","x":110,"y":100,"wires":[["bf36675b25e2f6b6"]]},{"id":"9055f99b32c59a96","type":"debug","z":"39d77b10fe7b70bb","name":"msg sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":540,"wires":[]},{"id":"55599d3b0aa16f3d","type":"api-call-service","z":"39d77b10fe7b70bb","name":"Thanos: Game Room Switch","server":"a81c50fc.5d021","version":5,"debugenabled":true,"domain":"switch","service":"toggle","areaId":["game_room_2"],"deviceId":["93eb110b5c4eb07af3a62acd166de765"],"entityId":["switch.game_room_light_switch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":80,"wires":[["15ba966ec4df2a8c"]]},{"id":"bf36675b25e2f6b6","type":"switch","z":"39d77b10fe7b70bb","name":"","property":"payload.Band","propertyType":"msg","rules":[{"t":"cont","v":"2281979784","vt":"str"},{"t":"cont","v":"2281975116","vt":"str"},{"t":"cont","v":"2281979963","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":100,"wires":[["55599d3b0aa16f3d"],["54502b044761f571"],["103dedf2a2e0f695"],["1c1061fbfe3aa910"]]},{"id":"54502b044761f571","type":"api-call-service","z":"39d77b10fe7b70bb","name":"Purple: Fish Tank Switch","server":"a81c50fc.5d021","version":5,"debugenabled":true,"domain":"switch","service":"toggle","areaId":["dining_room"],"deviceId":["583e10695803bdbdaea356d09ca6e89d"],"entityId":["switch.dining_room_fish_tank"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":140,"wires":[["15ba966ec4df2a8c"]]},{"id":"fb9f9bc3f3e17197","type":"inject","z":"39d77b10fe7b70bb","name":"API Send Test","props":[{"p":"payload"},{"p":"payload.Band","v":"1234","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":540,"wires":[["0684363885148217"]]},{"id":"da9d7975b893e572","type":"http in","z":"39d77b10fe7b70bb","name":"band","url":"mbreader","method":"post","upload":false,"swaggerDoc":"","x":70,"y":160,"wires":[["3db6201baf54b575","47073336b84b7439","bf36675b25e2f6b6"]]},{"id":"0684363885148217","type":"http request","z":"39d77b10fe7b70bb","name":"test send to mbreader","method":"POST","ret":"obj","paytoqs":"ignore","url":"10.10.10.31:1880/endpoint/MBReader","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":360,"y":540,"wires":[["9055f99b32c59a96"]]},{"id":"47073336b84b7439","type":"debug","z":"39d77b10fe7b70bb","name":"API Details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":440,"wires":[]},{"id":"3db6201baf54b575","type":"http response","z":"39d77b10fe7b70bb","name":"Respond","statusCode":"200","headers":{"Success":"True"},"x":320,"y":360,"wires":[]},{"id":"15ba966ec4df2a8c","type":"debug","z":"39d77b10fe7b70bb","name":"MB Caught","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":160,"wires":[]},{"id":"1c1061fbfe3aa910","type":"debug","z":"39d77b10fe7b70bb","name":"Unknown Band","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":400,"wires":[]},{"id":"103dedf2a2e0f695","type":"api-call-service","z":"39d77b10fe7b70bb","name":"Skyliner: Game Room Light","server":"a81c50fc.5d021","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":["game_room_2"],"deviceId":["93eb110b5c4eb07af3a62acd166de765"],"entityId":["switch.game_room_light_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":200,"wires":[["15ba966ec4df2a8c"]]},{"id":"a81c50fc.5d021","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]